<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="was_server" value="169.56.96.101"/>
    <add key="was_port" value="18080"/>
    <add key="MqHostName" value="169.56.96.101"/>
    <add key="AgentQueueName" value="tongrpa-recv-queue"/>
    <add key="ServerQueueName" value="tongrpa-server-queue"/>
    <add key="ExchangeName" value="tong-rpa-exchange"/>
    <add key="MqUserName" value="tongrpa"/>
    <add key="MqPassword" value="tongrpa1234"/>
  </appSettings>
</configuration>
